{% extends app.request.xmlHttpRequest
? 'AppBundle::ajax-base.html.twig'
: 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well bootable boot-start">
            <h1><i class="material-icons" style="color: red;">error</i> Error!</h1>
            <p>Es ist ein Fehler aufgetreten. Die Informatikabteilung wurde informiert und kümmert sich darum.</p>
            <p>Kehren Sie zur <a href="{{ path('homepage') }}">Hauptseite</a> zurück.</p>
        </div>
    </div>
{% endblock %}
