.idea/
app/cache/*
/app/bootstrap.php.cache
/vendor/
/app/config/parameters.yml
/app/config/application.yml
/bin/node_modules/*
/app/logs/*
/web/bundles/*
/web/assets/vendor/*
/doc/html/
/doc/latex/
/doc/*.tmp
.DS_Store
Thumbs.db
/.bu/*
!.gitkeep
