app/cache/*
/app/bootstrap.php.cache
/vendor/
/app/config/parameters.yml
/app/config/application.yml
/bin/node_modules/*
/app/logs/*
/web/bundles/*
/web/assets/vendor/*
/web/js/*
/web/css/*
/doc/html/
/doc/latex/
/doc/*.tmp
/.bu/*
/src/AppBundle/Resources/public/css/*.css
/src/AppBundle/Resources/public/css/*.map
!/src/AppBundle/Resources/public/css/style.css
!.gitkeep
